body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(https://images.unsplash.com/photo-1535136104956-115a2cd67fc4?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-repeat: no-repeat;
        background-size: cover;
    }
     form {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 50px;
        border-radius: 10px;
        max-width: 600px;
        margin: auto;
        font-size: 1.2em;
        font-family: Arial, sans-serif;
    }
    label {
        font-family: comic sans ms;
        font-size: 20px;
    }